#particles canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  left: 0;
  margin-top: 100px;
  margin: auto;
  max-width: 800px;
  position: absolute;
  right: 0;
  text-align: center;
}

.content .planet {
  width: 500px;
  height: 500px;
}

.content .title {
  color: goldenrod;
  font-family: "FreeLine";
  font-size: 48px;
}

.content .subtitle {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  letter-spacing: 20px;
  margin-top: 8px;
}

.quote {
  display: block;
  width: 80%;
  margin: auto;
}

.volume-button {
  position: absolute;
  bottom: 30px;
  right: 40px;
  background: none;
  border: none;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
  width: 50px;
  height: 50px;
}

.volume-button:focus {
  outline: 0;
}
