.nav {
  border: none;
  margin-left: auto;
  text-align: right;
  display: inline-flex;
  font-family: verdana, serif;
  font-size: 16px;
  min-height: 48px;
  max-height: 400px;
}

.nav a {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  padding: 14px;
  padding-top: 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(100, 150, 255, 0.25);
}

.nav a.hide {
  display: none;
}

.nav a.show {
  display: inline-block;
}

.nav button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  display: none;
  font-size: 24px;
  margin-right: 14px;
  text-align: right;
  display: inline-block;
  margin-top: 6px;
  margin-left: 10px;
}
